.container {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}

.full-width {
  width: 100% !important;
}

.mb20 {
  margin-bottom: 20px !important;
}
